/* src/components/Reviews.css */

.reviews-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .reviews-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .reviews-list {
    list-style-type: none;
    padding: 0;
  }
  
  .reviews-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .reviews-list button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
  }
  
  .reviews-list button:hover {
    background-color: #c9302c;
  }
  
  .review-input {
    width: calc(100% - 120px);
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-review-button {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
  }
  
  .add-review-button:hover {
    background-color: #31b0d5;
  }

  /* agregar estilos para las estrellas y la calificacion de cada propiedad */
/* src/components/Reviews.css */

.reviews-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .reviews-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .reviews-list {
    list-style-type: none;
    padding: 0;
  }
  
  .reviews-list li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .reviews-list button {
    background-color: #d9534f;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
  }
  
  .reviews-list button:hover {
    background-color: #c9302c;
  }
  
  .review-input {
    width: calc(100% - 120px);
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .add-review-button {
    background-color: #5bc0de;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.875rem;
  }
  
  .add-review-button:hover {
    background-color: #31b0d5;
  }
  
  .rating-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  
  .rating-stars {
    display: flex;
    align-items: center;
  }
  
  .star {
    font-size: 1.5rem;
    color: #ddd;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .star.filled {
    color: #ffd700; /* Color dorado para estrellas llenas */
  }
  
  
  